<div class="container bg-secondary text-white text-center">


{% comment %} Row 2 {% endcomment %}
<div class="row">


<div class="col">
<a href="{% url 'index-core' %}" class="btn btn-outline-dark border m-2 text-white ">Core</a>
</div>

<div class="col">
<a href="{% url 'index-signals' %}" class="btn btn-outline-dark border m-2 text-white ">Signals</a>
</div>
 
<div class="col">
<a href="{% url 'index-middleware' %}" class="btn btn-outline-dark border m-2 text-white ">Middleware</a>
</div>
 
<div class="col">
<a href="{% url 'index-filters' %}" class="btn btn-outline-dark border m-2 text-white ">Filters</a>
</div>
 
<div class="col">
<a href="{% url 'index-onetoone' %}" class="btn btn-outline-dark border m-2 text-white ">One To One</a>
</div>
 
<div class="col">
<a href="{% url 'index-manytoone' %}" class="btn btn-outline-dark border m-2 text-white ">Many To One</a>
</div>
 
</div>
</div>